@model IList<ItemPedido>;
@{ ViewData["Title"] = "Carrinho"; }

<h3>Meu Carrinho</h3>

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Preço Unitário
            </div>
            <div class="col-md-2 text-center">
                Quantidade
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @{
            decimal valorTotal = 0;
            foreach (ItemPedido itemPedido in Model)
            {
                valorTotal += itemPedido.Quantidade * itemPedido.PrecoUnitario;
                <div class="row row-center linha-produto" item-id="@itemPedido.Id">
                    <div class="col-md-3">
                        <img class="img-produto-carrinho" src="/images/produtos/large_@(itemPedido.Produto.Codigo).jpg" />
                    </div>
                    <div class="col-md-3">@itemPedido.Produto.Nome</div>
                    <div class="col-md-2 text-center">@itemPedido.PrecoUnitario.ToString("C")</div>
                    <div class="col-md-2 text-center">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default">
                                    <span class="glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" value="@itemPedido.Quantidade"
                                   class="form-control text-center" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" onclick="IncrementoQuantidade(this)">
                                    <span class="glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        R$ <span class="pull-right" subtotal>
                            @((itemPedido.Quantidade * itemPedido.PrecoUnitario).ToString("N2"))
                        </span>
                    </div>
                </div>
            } 
         }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                <span numero-itens>
                    Total: @Model.Count
                    itens
                </span>
            </div>
            <div class="col-md-2">
                Total: R$ <span class="pull-right" total>
                    @valorTotal.ToString("N2")
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" asp-action="carrossel">
                Adicionar Produtos
            </a>
            <a class="btn btn-success" asp-action="resumo">
                Finalizar Pedido
            </a>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function IncrementoQuantidade(btnIncremento) {
            var divProduto = $(btnIncremento).parents('[item-id]');
            const idItem = $(divProduto).attr('item-id');
            const quantidadeAtual = $(divProduto).find('input').val();

            $.ajax({
                url: '/pedido/AtualizarQuantidadeItem',
                contentType: 'application/json; charset=utf-8',
                type: 'PUT',
                data: JSON.stringify({
                    Id: idItem,
                    Quantidade: quantidadeAtual
                })
            });
        }
    </script>
}
